.social-list {
  display: flex;
  margin-top: 55px;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 22px;
  }
}

.social-list__icon {
  opacity: 0.7;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
  }
}
