.pagination {
  margin-top: 29px;

  grid-column-end: 4;
  grid-column-start: 3;
}

.pagination__list {
  display: flex;
  justify-content: flex-end;
}

.pagination__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
