.cart-main {
  margin-bottom: 89px;
}

.cart-main__title-wrapper {
  margin-bottom: 28px;

  grid-column: span 3;
}

.cart-main__title {
  margin-top: -12px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0;
}
