.main__wrapper {
  display: grid;
  margin-bottom: 60px;

  grid-template-columns: repeat(3, auto);
}

.main__title-wrapper {
  margin-bottom: 50px;

  grid-column: span 3;
}

.main__title {
  margin-top: -35px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  font-style: normal;
  letter-spacing: 0;
}
